.card{
    margin-top: 25%;
    border: none;
    width: 500px;
    padding: 40px;
    background: linear-gradient(90deg, rgb(57, 104, 138) 0%, rgb(136, 110, 188)100%);
    
}

.img-size{
    height: 50vh;
    width: 80vh;
}
.text-color{
    color: aliceblue;
    font-family: cursive;
}
span{
    color: red;
    font-size:15px ;
    font-weight: bold;

}
input.ng-invalid{
    border-left: 5px solid red;
}
input.ng-valid{
    border-left: 8px solid rgb(156, 255, 7);
}